---
const currentYear = new Date().getFullYear();
---
<footer class="border-t border-gray-200 dark:border-slate-800">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
            <div class="col-span-12 lg:col-span-4">
                <div class="mb-2">
                    <a class="inline-block font-bold text-xl" href="/">Glowing Body</a>
                </div>
                <div class="text-sm text-gray-600 dark:text-gray-400">
                    Your guide to mindful nutrition and conscious eating.
                </div>
            </div>
            <div class="col-span-6 lg:col-span-2">
                <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Quick Links</div>
                <ul class="text-sm">
                    <li class="mb-2">
                        <a class="text-gray-600 hover:text-emerald-600 dark:text-gray-400 transition duration-150 ease-in-out" href="/">Home</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-gray-600 hover:text-emerald-600 dark:text-gray-400 transition duration-150 ease-in-out" href="/about">About</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-gray-600 hover:text-emerald-600 dark:text-gray-400 transition duration-150 ease-in-out" href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
            <div class="text-sm text-gray-700 dark:text-slate-400">
                <span class="w-5 h-5 md:w-6 md:h-6 md:-mt-0.5 bg-cover mr-1.5 float-left rounded-sm"></span>
                &copy; {currentYear} Glowing Body. All rights reserved.
            </div>
        </div>
    </div>
</footer>